extends layout

block content
    table#leadertable.table.table-striped
        thead
            tr
                th Team #
                th Captain
                th Score
        each team, i in teamlist
            tr
                td= team.Team_Number
                td= team.Team_Captain
                td= team.Team_Score
                td
                    a.open(href="#editteam", data-toggle="modal", data-hash="#{team._id}", data-number="#{team.Team_Number}", data-captain="#{team.Team_Captain}", data-score="#{team.Team_Score}")
                        span.glyphicon.glyphicon-edit
                td
                    a.open(href="#deleteconfirm", data-toggle="modal", data-hash="#{team._id}", data-number="#{team.Team_Number}", data-captain="#{team.Team_Captain}", data-score="#{team.Team_Score}")
                        span.glyphicon.glyphicon-trash
    #editteam.modal.fade(role="dialog")
        .modal-dialog
            .modal-content
                .modal-header
                    .glyphicon.glyphicon-remove.close(data-dismiss="modal")
                    h4.modal-title Edit Team
                .modal-body
                    form#editteamform(name="editteam", method="post", action="/editteam")
                        .form-group
                            label(for="#hash_id") Team ID
                            input#hash_id.form-control(name="hash", readonly)
                        .form-group
                            label(for="teamnumber") Team Number
                            input#teamnumber.form-control(type="number", name="number" value="")
                        .form-group
                            label(for="teamcaptain") Captain
                            input#teamcaptain.form-control(type="text", name="captain" value="")
                        .form-group
                            label(for="teamscore") Score
                            input#teamscore.form-control(type="number", name="score" value="")
                        .form-group
                            button#btnSubmit.btn.btn-default(type="submit") Save
    #deleteconfirm.modal.fade(role="dialog")
        .modal-dialog
            .modal-content
                .modal-header
                    .glyphicon.glyphicon-remove.close(data-dismiss="modal")
                    h4.modal-title Are you sure you want to delete this team?
                .modal-body
                    form#formdeleteteam(name="deleteteam", method="post", action="/delete")
                        .form-group
                            label(for="#hash_id") Team ID
                            input#hash_id.form-control(name="hash", readonly)
                        .form-group
                            label(for="teamnumber") Team Number
                            input#teamnumber.form-control(type="number", name="number", value="", readonly)
                        .form-group
                            label(for="teamcaptain") Captain
                            input#teamcaptain.form-control(type="text", name="captain", value="", readonly)
                        .form-group
                            label(for="teamscore") Score
                            input#teamscore.form-control(type="number", name="score", value="", readonly)
                        .form-group
                            button#btnYes.btn.btn-default(type="submit" style="background: #009900; color: white") Yes
                            button#btnNo.btn.btn-default(data-dismiss="modal" style="background: #FF1919; color: white") No
                            
    script(lang="javascript", src="javascripts/edit-team.js")